<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZonaBike: Indumentarias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container header-flex">
            <p class="zonabike">ZonaBike</p>
            <nav id="menu">
                <a href="{{ url_for('index') }}">Inicio</a>
                <a href="{{ url_for('montañeras') }}">Montañeras</a>
                <a href="{{ url_for('ruta') }}">Ruta</a>
                <a href="{{ url_for('urbanas') }}">Urbanas</a>
                <a href="{{ url_for('niños') }}">Niños</a>
                <a href="{{ url_for('cascos') }}">Cascos</a>
                <a href="{{ url_for('indumentarias') }}">Indumentarias</a>
                <a href="{{ url_for('contacto') }}">Contacto</a>
            </nav>

            <div class="acciones">
                <a href="{{ url_for('carrito') }}" class="btn-icon">
                    <img src="{{ url_for('static', filename='img/iconos/carrito.png') }}" alt="Carrito">
                </a>
                <a href="{{ url_for('login') }}" class="btn">Iniciar Sesión</a>
                <a href="{{ url_for('registro') }}" class="btn btn-outline">Registrarse</a>
            </div>
        </div>
    </header>


    <main class="catalogo">

        <h1 class="titulo-categoria">Indumentarias</h1>

        <div class="contenedor productos">

            <div class="item producto">
                <img src="indumentarias/Guantes Largos Ciclismo Bontrager Quantum.png" alt="Guantes Largos Ciclismo Bontrager Quantum">
                <h3>Guantes Largos Ciclismo Bontrager Quantum</h3>
                <p class="precio">S/ 80</p>
                <a href="producto.html?id=Guantes Largos Ciclismo Bontrager Quantum" class="btn">Ver más</a>
            </div>

            <div class="item producto">
                <img src="indumentarias/Guantes de Trail Air Hombre.webp" alt="Guantes de Trail Air Hombre">
                <h3>Guantes de Trail Air Hombre</h3>
                <p class="precio">S/ 85</p>
                <a href="producto.html?id=Guantes de Trail Air Hombre" class="btn">Ver más</a>
            </div>

            <div class="item producto">
                <img src="indumentarias/Zapatillas de Carretera S-Works 7.webp" alt="Zapatillas de Carretera S-Works 7">
                <h3>Zapatillas de Carretera S-Works 7</h3>
                <p class="precio">S/ 1155</p>
                <a href="producto.html?id=Zapatillas de Carretera S-Works 7" class="btn">Ver más</a>
            </div>

            <div class="item producto">
                <img src="indumentarias/Zapatilla Ciclismo Montaña Bontrager Flatline.png" alt="Zapatilla Ciclismo Montaña Bontrager Flatline">
                <h3>Zapatilla Ciclismo Montaña Bontrager Flatline</h3>
                <p class="precio">S/ 490</p>
                <a href="producto.html?id=Zapatilla Ciclismo Montaña Bontrager Flatline" class="btn">Ver más</a>
            </div>

            <div class="item producto">
                <img src="indumentarias/Jersey Ciclismo Altitude Pure Hombre Azul.png" alt="Jersey Ciclismo Altitude Pure Hombre Azul">
                <h3>Jersey Ciclismo Altitude Pure Hombre Azul</h3>
                <p class="precio">S/ 109</p>
                <a href="producto.html?id=Jersey Ciclismo Altitude Pure Hombre Azul" class="btn">Ver más</a>
            </div>

            <div class="item producto">
                <img src="indumentarias/Tricota Ciclismo Bontrager Kalia Amarillo.webp" alt="Tricota Ciclismo Bontrager Kalia Amarillo">
                <h3>Tricota Ciclismo Bontrager Kalia Amarillo</h3>
                <p class="precio">S/ 200</p>
                <a href="producto.html?id=Tricota Ciclismo Bontrager Kalia Amarillo" class="btn">Ver más</a>
            </div>

            <div class="item producto">
                <img src="indumentarias/SHORT GIANT RIVAL BLACK.jpg" alt="Short Giant Rival Black">
                <h3>SHORT GIANT RIVAL BLACK</h3>
                <p class="precio">S/ 130</p>
                <a href="producto.html?id=SHORT GIANT RIVAL BLACK" class="btn">Ver más</a>
            </div>
        </div>
    </main>

    
    <footer>
        <div class="nombre">
            <h3>ZonaBike</h3>
            <p>Tu tienda de bicicletas y accesorios.</p>
        </div>

        <div class="enlaces">
            <h4>Enlaces rápidos</h4>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('montañeras') }}">Montañeras</a></li>
                <li><a href="{{ url_for('ruta') }}">Ruta</a></li>
                <li><a href="{{ url_for('urbanas') }}">Urbanas</a></li>
                <li><a href="{{ url_for('niños') }}">Niños</a></li>
                <li><a href="{{ url_for('cascos') }}">Cascos</a></li>
                <li><a href="{{ url_for('indumentarias') }}">Indumentarias</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
            </ul>
        </div>

        <div class="contacto">
            <h4>Contacto</h4>

            <div class="item-contacto">
                <img src="{{ url_for('static', filename='img/iconos/correo.png') }}" class="icono">
                <span>guevaraomar540@gmail.com</span>
            </div>

            <div class="item-contacto">
                <img src="{{ url_for('static', filename='img/iconos/telefono.png') }}" class="icono">
                <span>+51 961 742 408</span>
            </div>

            <div class="item-contacto">
                <img src="{{ url_for('static', filename='img/iconos/ubicacion.png') }}" class="icono">
                <span>C.C. Siglo XX – ZonaBike, <br>Andrés Avelino Cáceres, Arequipa, Perú</span>
            </div>
        </div>

        <div class="redes">
            <h4>Redes Sociales</h4>
            <a href="" class="item-red">
                <img src="{{ url_for('static', filename='img/iconos/Facebook2.png') }}" alt="Facebook" class="icono">
                <span>Facebook</span>
            </a>
            <a href="" class="item-red">
                <img src="{{ url_for('static', filename='img/iconos/instagram2.png') }}" alt="Instagram" class="icono">
                <span>Instagram</span>
            </a>
            <a href="" class="item-red">
                <img src="{{ url_for('static', filename='img/iconos/tik-tok.png') }}" alt="Tiktok" class="icono">
                <span>Tiktok</span>
            </a>
        </div>
        
        <div class="copy">
            <p>&copy2025 ZonaBike. Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>